body {
    background-image: url("background-beach.jpg");
    background-size: 100%;
    display: flex;
    flex-direction: center;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: x-large;
}

#grid {
    border-radius: 20px;
    border: 1px solid #000000;
    display: grid;
    grid-template-columns: repeat(40, 30px);
    grid-template-rows: repeat(20,30px);
}

#grid div {
    width: 30px;
    height: 30px;
    border: 1px solid #5c2323;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.character1 {
    background-image: url("Character1.png");
    background-size: 100%;
}

.character2 {
    background-image: url("Character2.png");
    background-size: 100%;
}

.character3{
    background-image: url("Character1.png");
    background-size: 100%;
}

.character4{
    background-image: url("Character2.png");
    background-size: 100%;
}